{# table that shows a DNS record #}
{# see templates/pages/dns.html #}
{% load i18n %}

<div class="dns--table">
    <div class="field dns__type--table">
        <label class="field__label">
            {% trans 'Nombre del servidor' %}
        </label>
        <p class="field__value">
            {{ servername }}
        </p>
    </div>
    <div class="field dns__name--table">
        <label class="field__label">
            {% trans 'Dominio asociado' %}
        </label>
        <p class="field__value">
            {{ server_domain }}
        </p>
    </div>
    <div class="field dns__value--table">
        <label class="field__label">
            {% trans 'FQDN (Nombre del servidor + dominio asociado)' %}
        </label>
        <p class="field__value">
          {{ fqdn }} 
        </p>
    </div>
</div>
