{# Render a service with a grid layout #}
{% load i18n templatetags %}

<div class="service--grid {{ action }}">
    <figure class="field service__image--grid">
        <img class="field__value" src="{% asset_img service.img %}" />
    </figure>
    <div class="field service__title--grid">
        <h3 class="field__value">
            {{ service.title }}
        </h3>
        <h5>{{ service.name }}</h5>
    </div>
    <div class="field service__description--grid">
        <div class="field__value">
            {{ service.description | safe }}
        </div>
    </div>
    <ul class="service__actions--grid">
        {% if not service.id in not_disabled %}
        <li class="service__action--grid">
            <label>
                {% if action == 'disable' %}
                    <i class="fa fa-remove"></i>
                    {% trans 'Desactivar' %}
                {% else %}
                    <i class="fa fa-plus"></i>
                    {% trans 'Activar' %}
                {% endif %}
            </label>
            <input data-action="{{ action }}" type="checkbox" name="{{ service.id }}" autocomplete="off" />
        </li>
        {% endif %}
        {% if service.link_url %}
        <p class="service__action--grid">
            <i class="fa fa-cog"></i>
            <a href="{{ service.link_url }}" target="{{ service.target }}">{{ service.link_text }}</a>
        </p>
        {% endif %}
    </ul>

</div>
