{# Render a user with a grid layout #}
{% load i18n %}

<div class="user--list">
    <div class="field user__name--list">
        <div class="field__value inline">
              {{ user.username }}
        </div>
    </div>
    <div class="field user__domains--list">
        <div class="field__label inline">
            {% trans 'Dominios' %}
        </div>
        <div class="field__value inline">
            {% for domain in user.domains %}
                <a href="http://{{ domain }}" target="_blank">
                    {{ domain }}
                </a>
            {% empty %}
                {% trans "No hay dominios mantenidos por este usuario" %}
            {% endfor %}
        </div>
    </div>
    <div class="field user__services--list">
        <div class="field__label inline">
            {% trans 'Accesos' %}
        </div>
        <div class="field__value inline">
            <span class="{% if not user.sftp %}disabled{% endif %}">
                SFTP
            </span>
            {% if phpmyadmin %}
            <span class="{% if not user.apache %}disabled{% endif %}">
                phpMyAdmin
            </span>
            {% endif %}
            {% if vpn %}
            <span class="{% if not user.openvpn %}disabled{% endif %}">
                VPN
            </span>
            {% endif %}
        </div>
    </div>
    <div class="user__links--list">
        <div class="user__link--list">
            <a href="{% url 'user' %}?username={{ user.username }}">
                <i class="fa fa-edit"></i> {% trans 'Editar' %}
            </a>
        </div>
        <div class="user__link--list">
           {% if user.domains %}
            <button
                data-launch-modal    = '#modal-notice'
                data-set-notice-list   = "{% for domain in user.domains %}<li>{{ domain }}</li>{% endfor %}"
                data-set-notice-text = "{% trans ' No se puede eliminar una cuenta de usuario mientras sea administradora de uno o más dominios. Asigna los siguientes dominios a otro usuario para poder eliminar la cuenta de ' %} {{ user.username }}">
            {% else %}
              <button
                data-launch-modal    = '#modal-delete'
                data-set-delete-dn   = "{{ user.dn }}"
                data-set-delete-text = "{% trans '¿Estás segur- que quieres borrar al usuario' %} {{ user.username }}?">
            {% endif %}
                <i class="fa fa-remove"></i>
                {% trans 'Borrar' %}
            </button>
        </div>
    </div>
</div>
