{# Login #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--updating{% endblock %}
{% block page_html_title %}{% trans 'Actualizando' %}'{% endblock %}

{% block main %}
    <h1 class="page__title--login">
        Maadix CPanel
    </h1>
    <figure class="logo--login">
        <img src="{% img 'logo-maadix--full.svg' %}" />
    </figure>
    {% cookie 'oldDomain' %} 
    {% cookie 'newDomain' %}
    <div class="form-login hide" id="form-ready">
      <h3>{% trans 'Proceso terminado' %}</h3>
      <a class="form-login__fqdn-link" href="https://{% cookie 'newDomain' %}/">
          {% trans 'Ir a la página de acceso' %}
      </a>
    </div>
      <div id="form-updating" class="form-login hide">
        <h3>{% trans 'Actualizando el sistema..' %}</h3>
            <p>{% trans 'Esta operación tardará unos minutos. En cuanto el sistema esté actualizado aparecerá el enlace de acceso al Panel de Control.' %}</p>
      </div>

{% endblock %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'status-no-cache.js' %}"></script>
{% endblock %}

