{# Login #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--login{% endblock %}
{% block page_html_title %}{% trans 'Bienvenid@!' %}'{% endblock %}

{% block main %}
    <h1 class="page__title--login">
        Maadix CPanel
    </h1>
    <figure class="logo--login">
        <img src="{% img 'logo-maadix--full.svg' %}" />
    </figure>
    <form class="form-login hide" id="form-ready"  method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="form-login__submit" type="submit">
          {% trans 'Entra' %}
      </button>
      <a class="form-login__password-reset-link" href="{% url 'password-recovery' %}">
          {% trans 'He olvidado mi contraseña' %}
      </a>
    </form>
      <div id="form-updating" class="form-login hide">
        <h3>{% trans 'Actualizando el sistema..' %}</h3>
            <p>{% trans 'Esta operación tardará unos minutos. En cuanto el sistema esté actualizado aparecerá el formulario para volver a acceder al Panel de Control.' %}</p>
      </div>

{% endblock %}
{% block page_scripts %}
    <script type="text/javascript" src="{% js 'status.js' %}"></script>
{% endblock %}

