{# primary menu #}
{% load static i18n templatetags %}
<ul class="menu-primary">
    {#{ active_section }#}
    {% if request.user.role == 'admin' %}
    <li id="system-links" class="menu-primary__item {% if active_section|startswith:'system' or  active_section|length == 0 %}{% else %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="system-links" data-excluded="menu-primary__item">
             <i class="fa fa-home"></i> {% trans 'Sistema' %}
        </label>
        <ul class="menu-primary__submenu">
            <li class="menu-primary__submenu-item {% if active_section == 'systemdetails' or active_section == '' %}active{% endif %}">
                <a href="{% url 'system-details' %}">
                    <i class="fa fa-home"></i> {% trans 'Detalles' %}
                </a>
            </li>
            <li class="menu-primary__submenu-item {% if active_section == 'systemupdate' %}active{% endif %}">
                <a href="{% url 'update' %}">
                    <i class="fa fa-refresh"></i>
                    {% trans 'Actualizar' %}
                    {% if system_update %}<i class="fa fa-warning"></i>{% endif %}
                </a>
            </li>
            <li class="menu-primary__submenu-item {% if active_section == 'systemreboot' %}active{% endif %}">
                <a href="{% url 'reboot' %}">
                    <i class="fa fa-power-off"></i>
                    {% trans 'Reiniciar' %}
                    {% if system_reboot %}<i class="fa fa-warning"></i>{% endif %}
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li id="app-links" class="menu-primary__item {% if active_section|startswith:'services' or 'mailmandomains' in  active_section %}{% else %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="app-links" data-excluded="menu-primary__item">
            <i class="fa fa-th-large"></i> {% trans 'Mis aplicaciones' %}
        </label>
        <ul class="menu-primary__submenu">
            <li class="menu-primary__submenu-item {% if active_section == 'services' %}active{% endif %}">
                <a href="{% url 'services' %}">
                    <i class="fa fa-th-large"></i> {% trans 'Ver todas' %}
                </a>
            </li>
            {% if 'owncloud' in enabled_services %}
            <li class="menu-primary__submenu-item">
                <a href="{% enabled_service_url 'owncloud' %}" target="_blank">
                    <i class="fa fa-cloud"></i> Owncloud
                </a>
            </li>
            {% endif %}
            {% if 'nextcloud' in enabled_services %}
            <li class="menu-primary__submenu-item">
                <a href="{% enabled_service_url 'nextcloud' %}" target="_blank">
                    <i class="fa fa-cloud"></i> Nextcloud
                </a>
            </li>
            {% endif %}
            {% if 'phpmyadmin' in enabled_services %}
            <li id="mysql-links" class="menu-primary__submenu-item collapsed">
                <label class="menu-primary__submenu-item-label" data-toggle="mysql-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-list-alt"></i> MySQL
                </label>
                <ul class="menu-primary__submenu">
                    <li class="menu-primary__submenu-item">
                        <a href="https://docs.maadix.net/mysql/" target="_blank">
                            {% trans 'Instrucciones' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item">
                        <a href="{% enabled_service_url 'phpmyadmin' %}" target="_blank">
                            PHPMyAdmin
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if 'etherpad' in enabled_services %}
            <li id="etherpad-links" class="menu-primary__submenu-item collapsed">
                <label class="menu-primary__submenu-item-label" data-toggle="etherpad-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-list-alt"></i> Etherpad
                </label>
                <ul class="menu-primary__submenu">
                    <li class="menu-primary__submenu-item">
                        <a href="https://docs.maadix.net/etherpad/" target="_blank">
                            {% trans 'Instrucciones' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item">
                        <a href="{% enabled_service_url 'etherpad/admin' %}" target="_blank">
                            Etherpad admin
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item">
                        <a href="{% enabled_service_url 'etherpad' %}" target="_blank">
                            Etherpad app
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if 'rainloop' in enabled_services %}
            <li class="menu-primary__submenu-item">
                <a href="{% enabled_service_url 'rainloop' %}" target="_blank">
                    <i class="fa fa-envelope-o"></i> Webmail
                </a>
            </li>
            {% endif %}
            {% if 'mailman' in enabled_services %}
            <li id="mailman-links" class="menu-primary__submenu-item {% if not active_section|startswith:'mailmandomains' %}collapsed{% endif %}">
                <label class="menu-primary__submenu-item-label" data-toggle="mailman-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-mail-reply-all"></i> Mailman
                </label>
                <ul class="menu-primary__submenu">
                    <li class="menu-primary__submenu-item">
                        <a href="https://docs.maadix.net/mailman/" target="_blank">
                            {% trans 'Instrucciones' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item {% if active_section == 'mailmandomains' %}active{% endif %}">
                        <a href="{% url 'domains-mailman' %}">
                            {% trans 'Dominios de la lista' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item">
                        <a href="{% enabled_service_url 'mailman' %}" target="_blank">
                            {% trans 'Ir a la aplicación' %}
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if 'mailtrain' in enabled_services %}
            <li id="mailtrain-links" class="menu-primary__submenu-item {% if not active_section|startswith:'servicessettingsmailtrain' %}collapsed{% endif %}">
                <label class="menu-primary__submenu-item-label" data-toggle="mailtrain-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-comments"></i> Mailtrain
                </label>
                <ul class="menu-primary__submenu">
                    <li class="menu-primary__submenu-item">
                      <a href="{{ apps_urls.mailtrain_url|default:"" }}" target="_blank">
                            {% trans 'Ir a la aplicación' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item {% if active_section == 'servicessettingsmailtrain' %}active{% endif %}">
                        <a href="{% url 'apps-settings' appid='mailtrain' %}">
                            {% trans 'Configurar' %}
                        </a>
                    </li>

                </ul>
            </li>
            {% endif %}

            {% if 'rocketchat' in enabled_services %}
            <li id="rocketchat-links" class="menu-primary__submenu-item {% if not active_section|startswith:'servicessettingsrocketchat' %}collapsed{% endif %}">
                <label class="menu-primary__submenu-item-label" data-toggle="rocketchat-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-random"></i> Rocketchat
                </label>
                <ul class="menu-primary__submenu">
                    <li class="menu-primary__submenu-item">
                        <a href="https://rocket.chat/docs/" target="_blank">
                            {% trans 'Documentación' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item">
                      <a href="{{ apps_urls.rocketchat_url|default:"" }}" target="_blank">
                            {% trans 'Ir a la aplicación' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item {% if active_section == 'servicessettingsrocketchat' %}active{% endif %}">
                        <a href="{% url 'apps-settings' appid='rocketchat' %}">
                            {% trans 'Configurar' %}
                        </a>
                    </li>

                </ul>
            </li>
            {% endif %}
            {% if 'discourse' in enabled_services %}
            <li id="discourse-links" class="menu-primary__submenu-item {% if not active_section|startswith:'servicessettingsdiscourse' %}collapsed{% endif %}">
                <label class="menu-primary__submenu-item-label" data-toggle="discourse-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-comments"></i> Discourse
                </label>
                <ul class="menu-primary__submenu">
                    <li class="menu-primary__submenu-item">
                      <a href="{{ apps_urls.discourse_url|default:"" }}" target="_blank">
                            {% trans 'Ir a la aplicación' %}
                        </a>
                    </li>
                    <li class="menu-primary__submenu-item {% if active_section == 'servicessettingsdiscourse' %}active{% endif %}">
                        <a href="{% url 'apps-settings' appid='discourse' %}">
                            {% trans 'Configurar' %}
                        </a>
                    </li>

                </ul>
            </li>
            {% endif %}
            {% if 'lool' in enabled_services %}
            <li id="lool-links" class="menu-primary__submenu-item {% if not active_section|startswith:'servicessettingslool' %}collapsed{% endif %}">
                <label class="menu-primary__submenu-item-label" data-toggle="lool-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-paste"></i> Libre Office Online 
                </label>
                <ul class="menu-primary__submenu">
                  <li class="menu-primary__submenu-item {% if active_section == 'servicessettingslool' %}active{% endif %}">
                        <a href="{% url 'apps-settings' appid='lool' %}">
                            {% trans 'Configurar' %}
                        </a>
                    </li>

                </ul>
            </li>
            {% endif %}
            {% if 'coturn' in enabled_services %}
            <li id="coturn-links" class="menu-primary__submenu-item {% if not active_section|startswith:'servicessettingscoturn' %}collapsed{% endif %}">
                <label class="menu-primary__submenu-item-label" data-toggle="coturn-links" data-excluded="menu-primary__submenu-item">
                    <i class="fa fa-share-square"></i> Servidor TURN 
                </label>
                <ul class="menu-primary__submenu">
                  <li class="menu-primary__submenu-item {% if active_section == 'servicessettingscoturn' %}active{% endif %}">
                        <a href="{% url 'apps-settings' appid='coturn' %}">
                            {% trans 'Configurar' %}
                        </a>
                    </li>

                </ul>
            </li>
            {% endif %}


        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li class="menu-primary__item not-collapsible {% if active_section == 'install' %}active{% endif %}">
        <a href="{% url 'services-available' %}">
            <i class="fa fa-dashboard"></i> {% trans 'Instalar aplicaciones' %}
        </a>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li id="domain-links" class="menu-primary__item {% if not active_section|startswith:'domains' %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="domain-links" data-excluded="menu-primary__item">
            <i class="fa fa-globe"></i> {% trans 'Dominios' %}
        </label>
        <ul  class="menu-primary__submenu">
            <li class="menu-primary__submenu-item {% if active_section == 'domains' %}active{% endif %}">
                <a href="{% url 'domains' %}">
                    {% trans 'Ver dominios' %}
                </a>
            </li>
            <li class="menu-primary__submenu-item {% if active_section == 'domainsadd' %}active{% endif %}">
                <a href="{% url 'domains-add' %}">
                    {% trans 'Añadir un dominio nuevo' %}
                </a>
            </li>
            <li class="menu-primary__submenu-item  {% if active_section == 'domainsinstructions' %}active{% endif %}">
                <a href="{% url 'domains-instructions' %}">
                    {% trans 'Instrucciones' %}
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'postmaster' or 'mail' in enabled_services %}
    <li id="mail-links" class="menu-primary__item {% if not active_section|startswith:'mails' %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="mail-links" data-excluded="menu-primary__item">
            <i class="fa fa-envelope"></i> {% trans 'Correos' %}
        </label>
        <ul class="menu-primary__submenu">
            <li class="menu-primary__submenu-item {% if active_section == 'mails' %}active{% endif %}">
                <a href="{% url 'mails' %}">
                    {% trans 'Cuentas de correo' %}
                </a>
            </li>
            {% if 'rainloop' in enabled_services %}
            <li class="menu-primary__submenu-item">
                <a href="/rainloop" target="_blank">
                    {% trans 'Webmail' %}
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li id="user-links" class="menu-primary__item {% if not active_section|startswith:'users' %}collapsed{% endif %}">
        <label class="menu-primary__item-label" data-toggle="user-links" data-excluded="menu-primary__item">
            <i class="fa fa-users"></i> {% trans 'Usuarios' %}
        </label>
        <ul class="menu-primary__submenu">
            <li class="menu-primary__submenu-item {% if active_section == 'users' %}active{% endif %}">
                <a href="{% url 'users' %}">
                    {% trans 'Usuarios ordinarios' %}
                </a>
            </li>
            <li class="menu-primary__submenu-item {% if active_section == 'userssuperuseredit' %}active{% endif %}">
                <a href="{% url 'superuser' %}">
                    {% trans 'Superusuario' %}
                </a>
            </li>
            <li class="menu-primary__submenu-item {% if active_section == 'userspostmasters' %}active{% endif %}">
                <a href="{% url 'postmasters' %}">
                    {% trans 'Postmasters' %}
                </a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if request.user.role == 'admin' %}
    <li class="menu-primary__item not-collapsible {% if active_section == 'notifications' %}active{% endif %}">
        <a href="{% url 'notifications' %}">
            <i class="fa fa-mail-forward"></i> {% trans 'Notificaciones' %}
        </a>
    </li>
    {% endif %}
    {% if request.user.role != 'email' %}
    <li class="menu-primary__item {% if not active_section|startswith:'docs' %}collapsed{% endif %}">
        <a href="https://docs.maadix.net/" target="_blank">
            <i class="fa fa-book"></i> {% trans 'Documentación' %}
        </a>
    </li>
    {% endif %}
</ul>
