{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--services{% endblock %}
{% block page_html_title %}Settings{% endblock %}

{% block main %}
<h1 class="page__title--services">
    {% blocktrans %}
      Configuración de instalación de la aplicación {{ appname }}
    {% endblocktrans %}
</h1>
<div class="page__subtitle--services">
    {% if maintenance %}
      {% trans 'Los parámetros de instalación no se pueden modificar, debido a una tarea de mantenimiento pendiente' %}
    {% else %}
      {% trans 'En esta página puedes consultar o modificar los parámetros de instalación' %}
    {% endif %}
</div>

<div class="page__content--services">

    <div class="page__content-left__services">
      {% default_form form=form modifier='appid' %}
      
    </div>
    <div class="page__content-right__services">
    </div>
    {% include 'blocks/modal-services.html' %}
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{% js 'services-update.js' %}"></script>
{% endblock %}
