{# Form to add new domains #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains-add{% endblock %}
{% block page_html_title %}{% trans 'Añade un dominio' %}{% endblock %}

{% block main %}
<h1 class="page__title--domains-add">
    {% trans 'Añadir un dominio' %}
</h1>
<p class="page__subtitle--domains-add">
    {% trans 'Activa dominios o subdominios en este servidor' %}
</p>
<div class="page__content--domains-add">
    <div class="page__content-right--domains-add">
        <div class="page__instructions--domains-add">
            {% blocktrans trimmed %}
            Activar un dominio en este panel creará la configuración necesaria para:
            <ul>
               <li>Crear cuentas de correo electrónico</li>
               <li>Alojar contenido visible visitando el dominio con un navegador</li>
               <li>Crear un certificado SSL para navegación segura (HTTPS)</li>
            </ul>
            Recuerda que, para un correcto funcionamiento de tus dominios en el servidor,
            es necesario que configures correctamente los DNS desde el panel de configuración
            de tu proveedor de dominio. <a href="">Saber más</a>.
            {% endblocktrans %}
        </div>
    </div>
    <div class="page__content-left--domains-add">
        {% default_form form=form modifier='domain' %}
    </div>
</div>
{% endblock %}
