{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--domains{% endblock %}
{% block page_html_title %}{% trans 'Gestiona tus dominios' %}{% endblock %}

{% block main %}
<h1 class="page__title--domains">
    {% trans 'Dominios' %}
</h1>
<h1 class="page__subtitle--domains">
    {% trans 'Gestiona tus dominios' %}
</h1>
<div class="page__content--domains">
    <div class="page__wide-content-right--domains">
        <a class="services-button" href="{% url 'domains-add' %}">
            {% trans 'Añadir un dominio' %}
        </a>
    </div>
    <div class="page__wide-content-left--domains">
        <div class="view-domains">
            {% if domains|length > 0 %}
            <ul class="view-domains__items">
                {% for domain in domains %}
                <li class="view-domains__item">
                      {% include 'views/domain--grid.html' %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% include 'blocks/modal-delete.html' %}
    </div>
</div>
{% endblock %}
