{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--mails{% endblock %}
{% block page_html_title %}{% trans 'Cuentas de correo' %}{% endblock %}

{% block main %}
<h1 class="page__title--mails">
    {% trans 'Cuentas de correo' %}
</h1>
<div class="page__subtitle--mails">
    {% trans 'Aquí puedes ver, editar, crear y eliminar cuentas de correo.' %}
</div>
<div class="page__content--mails">
    <div id="form-wrapper--email" class="page__content-right--mails collapsed">
        <div class="page__actions--mails">
            <button class="page__action--mails add" data-toggle="form-wrapper--email">
                {% trans 'Añade una cuenta nueva' %}
            </button>
        </div>
        {% default_form form=form modifier='email' %}
    </div>
    <div class="page__content-left--mails">
        {% if warnings.dns or warnings.mail %}
        <div class="view-emails__warnings">
            <h3>{{ domain }}</h3>
            {% if warnings.dns %}
                <h5>DNS</h5>
                <p>
                {% blocktrans %}
                Los DNS del dominio {{ domain }} no están configurados para que el
                correo electrónico sea entregado a este servidor.
                Puedes crear igualmente la cuenta que empezará a recibir correo en
                este servidor cuando los DNS estén configurados correctamente.
                Revisa la configuración actual y consulta cual es la correcta en esta
                página:
                {% endblocktrans %}
                <a href="{% url 'dns' %}?domain={{ domain }}">
                    {% trans 'DNS para el dominio' %} {{ domain }}
                </a>
                </p>
            {% endif %}
            {% if warnings.mail %}
                <h5>{% trans 'Servidor de correo' %}</h5>
                <p>
                {% blocktrans %}
                El servidor de correo no está activado para este dominio y no
                podrá enviar ni recibir correos electrónicos.
                {% endblocktrans %}
                </p>
                <a href="{% url 'domains-edit' %}?domain={{ domain }}">
                    {% trans 'Actívalo en esta página' %}
                </a>
            {% endif %}
        </div>
        {% endif %}
        <div class="view-emails">
            {% if mails|length > 0 %}
            <ul class="view-emails__domains">
              {% with domain as currentdomain %}
                {% regroup mails by domain as mails_sorted_by_domain %}
                {% for domain in mails_sorted_by_domain %}
                <li id="{{ domain.grouper|slugify }}" class="view-emails__domain {{ currentdomain }} {% if not currentdomain in domain.grouper %}collapsed{% endif %}">
                    <h3 class="view-emails__domain-name" data-toggle="{{ domain.grouper|slugify }}">
                        {{ domain.grouper }}
                        <span class="count">
                            ({{domain.list|length}})
                        </span>
                    </h3>
                    <ul class="view-emails__items">
                        {% for mail in domain.list %}
                        <li class="view-emails__item">
                            {% include 'views/mail-account--list.html' with mail=mail %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
              {% endwith %}
            </ul>
            {% endif %}
            {% include 'blocks/modal-delete.html' %}
        </div>
    </div>
</div>
{% endblock %}
