{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--notifications{% endblock %}
{% block page_html_title %}{% trans 'Notificaciones' %}{% endblock %}

{% block main %}
<h1 class="page__title--notifications">
    {% trans 'Configurar notificaciones' %}
</h1>
<div class="page__subtitle--notifications">
    {% trans 'Configura la dirección de correo que recibirá notificaciones' %}
</div>
<div class="page__content--notifications">
    <div class="page__wide-content-left--notifications">
        {% blocktrans trimmed %}
            Tu sistema puede enviar correos de notificaciones a los usuarios.
            Por ejemplo, si creas una cuenta VPN, puedes enviar las instrucciones
            al usuario para configurar correctamente su conexión.
            <br/>
            Actualmente, el correo electrónico desde el que se envían los correos del sistema es:
        {% endblocktrans %}
        <p class="current-email">
            {{ sendermail }}
        </p>
        {% default_form form=form modifier='notification' %}
    </div>
</div>
{% endblock %}
