{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--postmaster{% endblock %}
{% block page_html_title %}{% trans 'Editar Postmaster' %}{% endblock %}

{% block main %}
<h1 class="page__title--postmaster">
    {% trans 'Editar cuenta Postmaster para el dominio ' %}{{ domain }}
</h1>
<div class="page__subtitle--postmaster">
    {% trans 'Aquí puedes resetear la contraseña de las cuentas de tipo Postmaster.' %}
</div>

<div class="page__content--postmaster">
    <div class="page__content-left--postmaster">
        {% default_form form=form modifier='postmaster' %}
    </div>
</div>
{% endblock %}
