{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--postmasters{% endblock %}
{% block page_html_title %}{% trans 'Postmasters' %}{% endblock %}

{% block main %}
<h1 class="page__title--postmasters">
    {% trans 'Usuarios postmaster' %}
</h1>
<div class="page__subtitle--postmasters">
    {% trans 'Aquí puedes ver y editar las cuentas de usuario de tipo postmaster.' %}
</div>

<div class="page__content--postmasters">
    <div class="page__content-right--postmasters">
        <div class="page__instructions--postmasters">
        {% blocktrans %}
        Los usuarios Postmaster pueden acceder al panel de control utilizando
        su nombre de usuario y contraseña para administrar las cuentas de correo
        asociadas a su dominio. Cada dominio creado tiene asociado un usuario Postmaster.
        <br/>
        Estos usuarios tienen un único permiso:
        Crear, borrar y editar cualquier cuenta de correo, siempre que ésta pertenezca a su propio dominio
        <br/>
        En ningún caso podrán efectuar otra operación.
        {% endblocktrans %}
        </div>
    </div>
    <div class="page__content-left--postmasters">
        {% if postmasters|length > 0 %}
        <div class="postmasters--list">
            {% for name, mails_number in postmasters.items %}
                {% include 'views/postmaster--list.html' with postmaster=name n=mails_number active_postmasters=active_postmasters %}
            {% endfor %}
        </div>
        {% else %}
        <h4>
          {% trans 'No hay ningún usuario Postmaster' %}
        </h4>
        {% endif %}
    </div>
</div>
{% endblock %}
