{# User profile #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--profile{% endblock %}
{% block page_html_title %}Bienvenid@!{% endblock %}

{% block main %}
<h1 class="page__title--profile">
    {% trans 'Edita tu perfil' %}
</h1>
<div class="page__subtitle--profile">
    {% trans 'Cambia tu contraseña o correo electrónico' %}
</div>
<div class="page__content--profile">
    <div class="page__content-left--profile">
        {% default_form form=form modifier='profile' %}
    </div>
{% endblock %}
