{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--reboot{% endblock %}
{% block page_html_title %}{% trans 'Reiniciar el servidor' %}{% endblock %}

{% block main %}
<h1 class="page__title--reboot">
    {% trans 'Reiniciar el servidor' %}
</h1>
<div class="page__subtitle--reboot">
    {% trans 'En esta página puedes reiniciar el servidor' %}
</div>
<div class="page__content--reboot">
    <div class="page__content-left--reboot">
        <div class="reboot-text">
            <h3>{% trans 'Reiniciar el servidor' %}</h3>
            {% blocktrans trimmed %}
            <p>En esta página puedes reiniciar el servidor.</p>
            <p>El proceso de reinicio tardará unos segundos durante los cuales los
            servicios no estarán disponibles</p>
            {% endblocktrans %}
            <button class="reboot-button" data-launch-modal="#modal-reboot">
                {% trans 'Reiniciar' %}
            </button>
        </div>
    </div>
    {% include 'blocks/modal-reboot.html' %}
</div>
{% endblock %}
