{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--services-install{% endblock %}
{% block page_html_title %}{% trans 'Instala servicios' %}{% endblock %}

{% block main %}
<h1 class="page__title--services-install">
    {% trans 'Aplicaciones disponibles' %}
</h1>
<div class="page__subtitle--services-install">
    {% blocktrans trimmed %}
    Selecciona las aplicaciones que quieras instalar y haz clic en el botón 'Instalar'
    para empezar el proceso de instalación
    {% endblocktrans %}
</div>
<div class="page__content--services-install">
    <div class="page__wide-content-left--services-install">
      {% if maintenance or no_updates or all_installed %}
        <div class="no-services">
            <h3 class="no-services__title">
                {% if maintenance %}
                    {% trans 'Hay una tarea de mantenimiento pendiente' %}
                {% else %}
                    {% trans 'No hay ninguna aplicación disponible' %}
                {% endif %}
            </h3>
            <p class="no-services__info">
                {% if maintenance %}
                    {% trans 'En estos momentos no se pueden instalar nuevas aplicaciones.' %}
                {% elif all_installed %}
                    {% trans 'Todas las aplicaciones disponibles ya están instaladas.' %}
                {% else %}
                    {% trans 'En este momento no se pueden instalar aplicaciones' %}
                {% endif %}
            </p>
        </div>
    {% else %}
        <div class="view-services--grid">
            {% for service in available %}
                {% include 'views/service-grid--install.html' with service=service %}
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <div class="page__wide-content-right--services-install">
          <button class="services-button">
              {% if not maintenance and not no_updates %}
                  {% trans 'Instalar' %}
              {% endif %}
          </button>
    </div>
    {% include 'blocks/modal-install.html' %}
    {% include 'blocks/modal-loading.html' %}
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{% js 'services-install.js' %}"></script>
{% endblock %}
