{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--services{% endblock %}
{% block page_html_title %}Services{% endblock %}

{% block main %}
<h1 class="page__title--services">
    {% trans 'Ver aplicaciones' %}
</h1>
<div class="page__subtitle--services">
    {% trans 'Aquí puedes gestionar las aplicaciones instaladas.' %}
</div>

<div class="page__content--services">
    <div class="page__wide-content-left__services">
        {% if enabled|length == 0 and disabled|length == 0 %}
            <div class="view-services--unconnected">
                <p>{% trans 'En este momento no hay descripciones disponibles para las aplicaciones instaladas' %}</p>
                <p>{% trans 'Inténtalo de nuevo pasados unos minutos' %}</p>
                <p>{% trans 'Disculpa las molestias' %}</p>
            </div>
        {% else %}
            {#{ enabled }#}
            <div class="view-services--grid enabled">
                {% for service in enabled %}
                    {% include 'views/service-grid.html' with service=service action='disable' %}
                {% endfor %}
                {% for service in disabled %}
                    {% include 'views/service-grid.html' with service=service action='enable' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="page__wide-content-right__services">
        <button class="services-button" data-launch-modal="#modal-services">
            {% trans 'Aplicar cambios' %}
        </button>
    </div>
    {% include 'blocks/modal-services.html' %}
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{% js 'services-update.js' %}"></script>
{% endblock %}
