{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--superuser{% endblock %}
{% block page_html_title %}{% trans 'Editar' %}{% endblock %}

{% block main %}
<h1 class="page__title--superuser">
    {% trans 'Editar la cuenta de Superusuario' %}
</h1>
<div class="page__subtitle--superuser">
    {% trans 'Aquí puedes ver y editar la cuenta del Superusuario (administrador del sistema - root).' %}
</div>

<div class="page__content--superuser">
    <div class="page__content-right--superuser">
        <div class="page__instructions--superuser">
        {% blocktrans %}
        Este es el usuario root del sistema y dispone de un acceso total al
        servidor, con poderes ilimitados. No lo puedes borrar ni eliminar su
        acceso SFTP/SSH, que está siempre garantizado.
        Para saber más, visita la siguiente página de nuestra guía de uso:<br/>
        <a href="https://docs.maadix.net/users/#superusuario" target="_blank">
        » Visitar guía de usuario
        </a>
        {% endblocktrans %}
        </div>
    </div>
    <div class="page__content-left--superuser">
        {% default_form form=form modifier='superuser' %}
    </div>
</div>
{% endblock %}
