{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--front{% endblock %}
{% block page_html_title %}{% trans 'Estadísticas del sistema' %}{% endblock %}

{% block main %}
  <h1 class="page__title--system-details">
      {% trans 'Detalles del servidor' %}
  </h1>
  <div class="page__content--system-details">
        <ul class="memory-stats system-info-block {% if memory.percent > 80 %}critical{% endif %}">
            {% include 'blocks/simple-chart.html' with w=graph_width h=graph_height s=ram_size %}
            <h3 class="memory-stats__title">
                <i class="fa fa-tasks"></i> {% trans 'Memoria RAM' %}
            </h3>
            <li class="memory-stats__item--total">
                <h5>{% trans 'Memoria total' %}</h5>
                <span class="value">{{ memory.total|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="memory-stats__item--free">
                <h5>{% trans 'Memoria disponible' %}</h5>
                <span class="value">{{ memory.available|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="memory-stats__item--used">
                <h5>{% trans 'Memoria en uso' %}</h5>
                <span class="value">{{ memory.used|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>  [{{ memory.percent }} %]
            </li>
        </ul>
        <ul class="disk-usage-stats system-info-block {% if disk_usage.percent > 80 %}critical{% endif %}">
            {% include 'blocks/simple-chart.html' with w=graph_width h=graph_height s=disk_size %}
            <h3 class="disk-usage-stats__title">
                <i class="fa fa-hdd-o"></i> {% trans 'Disco duro' %}
            </h3>
            <li class="disk-usage-stats__item--total">
                <h5>{% trans 'Espacio total' %}</h5>
                <span class="value">{{ disk_usage.total|gbs|floatformat:2 }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="disk-usage-stats__item--free">
                <h5>{% trans 'Espacio disponible' %}</h5>
                <span class="value">{{ disk_usage.free|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span>
            </li>
            <li class="disk-usage-stats__item--used">
                <h5>{% trans 'Espacio usado' %}</h5>
                <span class="value">{{ disk_usage.used|gbs|floatformat:2  }}</span>
                <span class="unit">gbs<span> [{{ disk_usage.percent }} %]
            </li>
        </ul>
        <ul class="cpu-stats system-info-block">
            {% include 'blocks/cpu-chart.html' with w=graph_width h=graph_height bars=cpu_bars barwidth=cpu_barwidth %}
            <h3 class="cpu-stats__title">
                <i class="fa fa-tachometer"></i> {% trans 'CPU' %}
            </h3>
            <li class="cpu-stats__item--used">
                <h5>{% trans 'Porcentaje de uso' %}</h5>
                <span class="value">{{ cpu }}</span>
                <span class="unit">%<span>
            </li>
            <li class="cpu-stats__item">
                <h5>{% trans 'Número de cpus' %}</h5>
                <span class="value">{{ cpu_count }}</span>
                <span class="unit">cpus<span>
            </li>
        </ul>
        <div class="system-info__date">
            <span class="fa fa-clock-o"></span>
            {% trans 'Estadísticas de sistema tomadas el' %} {% now "d/b/Y" %} a las {% now "H:m" %}
        </div>
        <div class="system-info__fqdn">
          <h5>{% trans 'Opciones avanzadas' %}</h5>
            <a href="{% url 'fqdn' %}" tilte="Cambiar el dominio del servidor">
                {% trans 'Cambiar el dominio del servidor' %}
            </a>
        </div>

  </div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{% js 'update-cpu-usage.js' %}"></script>
{% endblock %}
