{# Domains overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--update{% endblock %}
{% block page_html_title %}{% trans 'Actualiza MaadiX' %}{% endblock %}

{% block main %}
<h1 class="page__title--update">
    {% trans 'Actualiza MaadiX' %}
</h1>
<div class="page__subtitle--update">
    {% trans 'Actualiza el sistema a su última versión' %}
</div>
<div class="page__content--update">
    <div class="page__content-left--update">
        <div class="update-text {{ status }}">
            {% if status == 'error' %}
                <h3>
                    {% trans 'La tarea de Mantenimiento o Actualización ha producido un error.' %}
                </h3>
                {% blocktrans trimmed %}
                <p>El equipo técnico ha sido notificado y está ahora trabajando en la solución</p>
                <p>En breve se pondrá en contacto contigo.</p>
                <p>Disculpa las molestias</p>
                {% endblocktrans %}
            {% elif status == 'pending' %}
                <h3>
                    {% trans 'Una tarea de Mantenimiento o Actualización está pendiente.' %}
                </h3>
                <p>{% trans 'Es necesario aplicar los cambios para que la actualización se complete.' %}</p>
                <button data-launch-modal="#modal-update">
                    {% trans 'Aplicar cambios' %}
                </button>
            {% elif status == 'no-updates' or status == 'last-update' %}
                <h3>
                    {% trans 'No hay actualizaciones disponibles.' %}
                </h3>
                {% if status == 'no-updates' %}
                    {% blocktrans trimmed %}
                    <p>Inténtalo de nuevo pasados unos minutos.</p>
                    <p>Disculpa las molestias.</p>
                    {% endblocktrans %}
                {% elif status == 'last-update' %}
                    <p>{% trans 'El sistema está actualizado a la última versión disponible' %}</p>
                {% endif %}
            {% else %}
                <h3 class="remarked">
                    {% trans 'Hay una nueva versión de sistema disponible' %}
                </h3>
                <p>
                {% blocktrans trimmed %}
                Existe una nueva versión del panel de control. Desde esta página
                puedes actualizar a la última versión, para que tu sistema incluya los cambios
                listados a continuación.
                {% endblocktrans %}
                </p>
                <ul class="update-details">
                    <li class="update-details__item name">
                        <h5>
                            {% trans 'Nombre de la versión' %}:
                        </h5>
                        {{ release }}
                    </li>
                    <li class="update-details__item description">
                        <h5>
                            {% trans 'Descripción' %}:
                        </h5>
                        {{ description | safe }}
                    </li>
                </ul>
                <p>
                    {% trans 'Haz click en el botón "Actualizar" para empezar el proceso' %}
                </p>
                <button class="update-button" data-launch-modal="#modal-update">
                    {% trans 'Actualizar' %}
                </button>
            {% endif %}
        </div>
        {% include 'blocks/modal-update.html' with release=release %}
    </div>
</div>
{% endblock %}
