{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--users{% endblock %}
{% block page_html_title %}{% trans 'Usuarios ordinarios' %}{% endblock %}

{% block main %}
<h1 class="page__title--users">
    {% trans 'Usuarios' %}
</h1>
<div class="page__subtitle--users">
    {% trans 'Aquí puedes ver, editar, crear y eliminar cuentas de usuario.' %}
</div>
<div class="page__content--users">
  <div id="form-wrapper--user" class="page__content-right--users {% if not display_form %}collapsed{% endif %}">
        <div class="page__actions--users">
            <button class="page__action--users add" data-toggle="form-wrapper--user">
                {% trans 'Añade un usuario nuevo' %}
            </button>
        </div>
        <div class="{% if not display_form %}collapsed{% endif %}">
            {% default_form form=form modifier='user' %}
        </div>
    </div>
    <div class="page__content-left--users">
        <div class="view-users--grid">
            {% if users|length > 0 %}
            <ul class="view-users__items--grid">
                {% for user in users %}
                <div class="view-users__item--grid">
                    {% include 'views/user--list.html' with user=user %}
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% include 'blocks/modal-delete.html' %}
    {% include 'blocks/modal-notice.html' %}
</div>
{% endblock %}
