{# Users overview #}
{% extends 'layouts/single-fluid-column.html' %}
{% load i18n templatetags %}
{% block body_classes %}page--user{% endblock %}
{% block page_html_title %}{% trans 'Editar' %}{% endblock %}

{% block main %}
<h1 class="page__title--user">
    {% trans 'Editar usuario ' %}{{ username }}
</h1>
<div class="page__subtitle--user">
    {% trans 'Aquí puedes ver y editar cuentas de usuario.' %}
</div>

<div class="page__content--user">
    <div class="page__content-left--user">
        {# loads and pass context to blocks/default-form.html #}
        {% default_form form=form modifier='user' %}
    </div>
</div>
{% endblock %}
