{# Renders a template with a single column of fluid with #}
{% extends 'base.html' %}
{% block layout_classes %}single-fluid{% endblock %}

{% block layout %}
    <div class="container-fluid">
        {% include 'regions/sidebar.html' with region_name='sidebar' html_container='aside' %}
        {% include 'regions/header.html' with region_name='header' html_container='header' %}
        <main class="region-content">
            {% block main %}{% endblock %}
        </main>
        {% include 'regions/footer.html' with region_name='footer' html_container='footer' layout='fluid' %}
    </div>


{% endblock %}
