// Region footer
  /templates/regions/region-footer.html

.region-footer
  width: calc(100% - #{$sidebar_width})
  margin-left: $sidebar_width
  height: $footer_height
  line-height: $footer_height
  color: $palette_blue_dark
  font-family: $font_text
  font-size: $size_small
  padding: 0 $m
  background-color: #ddd
  +links_maadix_dotted
