// Region messages
  /templates/regions/region-messages.html

.region-messages
  position: fixed
  z-index: 1000
  right: $m*2
  top: $m*2
  width: 480px
  font-family: $font_headers
  +text-shadow(0 0 5px rgba(black, .25))
  pointer-events: none

.messages-list__msg--success
  +animation(fadeout_steady 5s 1)
  animation-fill-mode: forwards
  background-color: $color_success
  color: white
  padding: $m

.messages-list__msg--error
  +animation(fadeout_steady 5s 1)
  animation-fill-mode: forwards
  background-color: $color_warning
  color: white
  padding: $m
