.dns--table
  background: white
  padding: $m/2 $m
  display: flex
  margin-top: $m/3
  +links($palette_maadix, darken($palette_maadix, 5%), .1s ease)
  a
    text-transform: uppercase
    font-size: $size_small
    font-family: $font_headers

.dns--table .field
  flex-grow: 1
  word-wrap: break-word
  padding: $m/3

.dns--table .field__label
  font-family: $font_headers
  backgroun-color: rgba(black, 5%)
  display: block
  margin-bottom: $m/2

.dns__value--table,
.dns__required-value--table
  max-width: 20%
