// Email account
  /templates/pages/mail-account.html

.form-editmail__submit
  margin-top: $m*2
  +button_success
.page--mails
  input#id_email
    float: left
    width: 17vw

input#id_at
  width: 2vw
