// Form styles

// Default
=default_form
  background: white
  position: relative
  padding: $m
  +links($color_text, darken($palette_maadix, 10%), .1s ease)
  .errorlist
    color: $color_danger
    background-color: rgba($color_danger, .1)
    padding: $m/2
    font-family: $font_headers
    margin-bottom: $m
  label
    +h(5)
    display: block
    margin-bottom: $m/3
  label.required:before
    content: "* "
    color: $color_danger
    position: absolute
    left: $m/2
  .form__field
    margin-bottom: $m/2
    &.collapsed
      +collapsed
  .form__help-text
    font-size: .9em
    color: lighten($palette_blue_light, 15%)
    margin: $m/4 0 $m/2
    padding-left: $m
    max-width: 100%
    text-align: justify
    +breakpoint('sm')
      width: 33vw
  [type=submit]
    +button_success
    margin-top: $m*2
  input.disabled
    border: 0
    padding: $m/2
    background-color: #f5f5f5
    color: #555
    pointer-events: none
  &.collapsed
    +collapsed
  .form__checkbox-label
    font-size: .9em
    margin-left: $m/4
  input:not([type=checkbox]),
  select,
  textarea
    width: 360px
  select
    background: url('../img/arrow-drop.png') 98% / 5% no-repeat #fff
    border: 1px solid rgba(0, 0, 0, 0.15)
    border-radius: 0.25rem
    padding: $m/2 $m/4
    ::-ms-expand
      display: none
    +breakpoint('sm')
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
    +breakpoint('xs')
      background: none

form.default
  +default_form

.page__wide-content-left--notifications form.default
  .form__help-text
    width: 100%
[class*='__content-right--'] form
  margin-top: $m/3

[id*='form-wrapper--'].collapsed
  form
    display: none

// Ovvrides for home_dir field in edit user form
label[for=id_home_dir],
label[for=id_home_dir] + p,
input#id_home_dir
  margin-left: $m/2
label[for=id_home_dir]
  margin-top: $m/2
  font-size: .9em !important
  font-family: $font_text !important

@media screen and (min-width:0\0) 
  select 
    background:none\9
    padding: 5px\9

