// Menu primary
  /templates/menus/menu-primary.html

.menu-primary
  line-height: $m*2
  color: rgba(white,.75) !important
  +links(rgba(white,.75), white, none)
  text-transform: uppercase
  font-family: $font_headers

.menu-primary__item-label,
.menu-primary__submenu-item-label
  display: block
  &::after
    content: "⌃"
    font-size: $size_big
    float: right
    color: rgba(white, .5)

.menu-primary__item.collapsed,
.menu-primary__submenu-item.collapsed,
  .menu-primary__submenu
    +collapsed
  .menu-primary__item-label::after,
  .menu-primary__submenu-item-label::after,
    content: "⌄"

.menu-primary__item-label,
.menu-primary__submenu-item,
.menu-primary__item > a
  +transition(background-color .1s ease)
  padding: 0 $m/2
  &:hover
    background-color: rgba(#222, .25)
    cursor: pointer
    color: white

.menu-primary__submenu-item-label:hover
  cursor: pointer
  color: white
  background-color: transparent

.menu-primary__item
  border-bottom: 1px solid rgba(black, .1)
.menu-primary__item:last-child
  border: 0
.menu-primary__item
  background-color: rgba(#222, .3)
  &:hover
    .menu-primary__item-label
      background-color: rgba(#222, .5)
.menu-primary__item:not(.collapsed)
  .menu-primary__item-label
    background-color: rgba(black, .2)
    color: white
.menu-primary__item.collapsed
  background-color: inherit
  .menu-primary__item-label
    background-color: inherit
.menu-primary__submenu-item
  &.collapsed
    background-color: inherit
.menu-primary__item.not-collapsible
  background-color: inherit
.menu-primary__item > a
  display: block
.menu-primary__submenu-item
  padding-left: $m
.menu-primary__submenu-item.active,
.menu-primary__item.active
  background: rgba(#111, .5)
  +links(white, white, none)

.menu-primary .fa:not(.fa-warning):before
  color: rgba(white, .15)
  display: inline-block
  width: $m*.75
  text-align: center
.menu-primary .fa-warning
  float: right
  font-size: .75em
  color: $color_success
  padding-top: $m/1.5
