// Modal

[class*='modal--']
  position: fixed
  display: none
  left: 0
  top: 0
  width: 100vw
  min-height: 100vh
  background-color: rgba(black, .75)
  +animation(fadein .5s 1)

[class*='modal__content-wrapper--']
  width: 480px
  max-width: 100%
  margin: 0 auto
  margin-top: calc(50vh - 240px)
  background: #222
  color: white
  padding: $m*2
  font-family: $font_text

.modal__content-wrapper--loading
  background: none
  img
    display: block
    margin: 0 auto
    width: 10%
    min-width: $m*4

[class*='modal__submit--']
  +button_maadix

[class*='modal__actions--']
  margin-top: $m*2
  +clearfix

[class*='modal__cancel--']
  +button_cancel
  float: left
  width: 50%

[class*='modal--'] form
  display: inline-block
  float: right
  width: 50%

.modal--services,
.modal--install
  .inactive
    display: block
  .active
    display: none
.modal--services.active,
.modal--install.active
  .active
    display: block
  .inactive
    display: none
.modal--services.inactive,
.modal--install.inactive
  [class*='modal__cancel--']
    float: none
.modal__text--services ul,
.modal__text--install ul,
.modal__text--list-container ul,
  margin: $m/2
  font-family: $font_headers
  text-transform: uppercase
  .fa
    font-size: .75em
    margin-right: $m/3
  .fa-plus
    color: $color_success
  .fa-close
    color: $color_danger
[class*='modal__text--'] p
  margin-bottom: $m/4
