// Notifications page
  /templates/pages/notifications.html

.form--notification
  margin-top: $m
  padding: 0
  label
    display: block
    margin-bottom: $m/3
    +h(5)

.current-email
  margin: $m/2 0
  background: white
  padding: $m

.form--notification__submit
  margin-top: $m
  display: block
