// Login and pass page
  /templates/registration.html

.form-login,
.form-recovery,
.form-reset
  width: $m*20
  padding: $m*3 $m*2 $m*2
  margin: 0 auto
  background: white
  +breakpoint('xs')
    width: $m*12
    padding: $m*2
  +border-radius($m/6)
  color: $palette_blue_dark
  +box-shadow(0 0 10px rgba(black, .25))
  +links($palette_maadix, darken($palette_maadix, 10%), .2s ease)
  +animation(fadeup 1s 1)

.form-recovery
  padding-top: $m*2

.form-recovery__text
  margin-bottom: $m

.form-recovery .helptext
  font-size: .8em

.form-login p,
.form-recovery p,
.form-reset p
  position: relative
  margin-bottom: $m*2


#form-updating.form-login,
#form-ready.form-login
  text-align: center

#form-updating.form-login h3,
#form-ready.form-login h3
  color: #c60033

#form-updating.hide,
#form-ready.hide
  display: none

.form-login label,
.form-recovery label,
.form-reset label
  display: block
  margin: $m 0 $m/2
  position: absolute
  top: -$m
  +transition(all .3s ease)

.form-login,
.form-recovery,
.form-reset
  [type=text],
  [type=password],
  [type=email]
    +transition(border-color .2s ease)
    border-width: 0 0 1px 0
    border-color: #999
    width: 100%
    &:focus, &:valid
      border-width: 0 0 2px 0
      & + label
        +transform( translateY(-30px) )
        font-size: .75em
    &:focus
      border-color: $palette_maadix
      & + label
        color: $palette_maadix
    &:valid
      border-color: #999
      & + label
        color: #999

.form-login__submit,
.form-recovery__submit,
.form-reset__submit
  display: block
  margin: $m*2 auto 0
  +button_success

.form-login__password-reset-link,
.form-recovery__login-link,
.form-reset__login-link
  display: block
  text-align: center
  margin-top: $m

.form-login .errorlist,
.form-recovery .errorlist,
.form-reset .errorlist
  color: rgba(red, .75)
  margin-bottom: $m*2
  font-size: .75em

.logo--login,
.logo--password-recovery,
.logo--password-reset
  text-align: center
  margin-bottom: $m/2
  img
    max-width: $m*5
