// System details

.system-info-block
  padding: $m
  +breakpoint('sm')
    display: inline-block
    float: left
    width: 33%

.system-info-block h3
  border-top: 2px solid

.system-info-block h5
  margin-bottom: 0 !important

.system-info-block .unit
  text-transform: uppercase
  font-size: .7em

.system-info-graph
  overflow: visible !important
  margin: 0 auto
  display: block

.system-info-graph .total
  fill: #ddd
.system-info-graph .available
  fill: #555
.critical .system-info-graph .available
  fill: #500
[class*='-stats__item--used']:before,
[class*='-stats__item--free']:before,
[class*='-stats__item--total']:before
  content: " "
  +border-radius(50%)
  width: 12px
  height: 12px
  display: inline-block
  float: left
  position: relative
  top: 6px
  margin-right: 4px
[class*='-stats__item--total']:before
  border: 1px solid $color_text
[class*='-stats__item--free']:before
  background-color: #ddd
[class*='-stats__item--used']:before
  background-color: #555
.critical [class*='-stats__item--used']:before
  background-color: #500
.system-info__date
  clear: both
  font-size: .7em
  text-transform: uppercase
  padding: $m*2
  text-align: right
.cpu-graph__bar.empty
  fill: #ddd
  stroke: none
.cpu-graph__bar.used
  fill: #555
  stroke: none
.system-info__fqdn a
  color: #c60033
  text-decoration: underline
  text-decoration-style: dotted
