// Service, grid layout
   /templates/views/service-grid.html

.view-services--grid
  +columns-masonry(1, 2, 3, 3, 'service--grid', 'few', $m)

.service--grid
  padding: $m
  background: white
  width: 100%
  margin-bottom: $m/2
  border: 1px solid #eee
  +links($color_text, darken($palette_maadix, 5%), .2s ease)

.service--grid .field
  margin-bottom: $m

.no-services
  background: white
  padding: $m

.no-services__title
  margin-top: 0

.service__image--grid
  text-align: center

.services-button
  +button_success
  +breakpoint('sm')
    position: fixed

.service__description--grid
  a
    text-decoration: underline !important
    text-decoration-style: dotted !important
.service__actions--grid
  font-family: $font_headers
  color: $palette_maadix
  +links($palette_maadix, darken($palette_maadix, 5%), .2s ease)
  .fa
    color: #aaa

.service--grid.enable
  background-color: #eee
  .field
    opacity: .75

//.service__dependencies--grid
  display: none

//.service__dependencies--grid.active
  display: block

.service__dependencies--grid
  display: block

.dependency
  display: none

.dependency.active
  display: block

.dependency
  padding: $m/2
  background-color: #ffd
  label
    +h(5)
  .dependency__description
    margin: $m/3 0
    font-size: .9em
div.error
  color: #d9534f
  background-color: rgba(217, 83, 79, 0.1)
  padding: 12px
  span
    font-family: "open-sans-condensed-bold", sans-serif
    margin-bottom: 24px
