// Postmaster, list layout
   /templates/views/postmaster--list.html

.postmaster--list
  +generic_list_item
  .field
    margin-top: 0
.postmaster__name--list
  margin-bottom: $m/2
  +breakpoint('sm')
    float: left
    margin-bottom: 0

.postmaster__name--list,
.postmaster__emails--list
  +breakpoint('sm')
    display: inline-block
    width: 50%
