{# branding #}
{% load static templatetags %}

<div class="branding">
    <a href="{% url 'system-details' %}">
        <img class="branding__logo" src="{% img 'logo-maadix--full.svg' %}" />
    </a>
</div>
