{# bubble charts for the system details page #}
{% load templatetags %}

<svg width="{{ w }}" height="{{ h }}" class="system-info-graph cpu-graph">
    {% for x in cpu_bars %}
    <g class="bar-group--{{ forloop.counter }}">
        <rect class="cpu-graph__bar used" x="{{ x }}" y="0"
              width="{{ cpu_barwidth }}" height="0">
        </rect>
        <rect class="cpu-graph__bar empty" x="{{ x }}" y="0"
              width="{{ cpu_barwidth }}" height="{{ h }}">
      </rect>
    </g>
    {% endfor %}
    <line x1="0" y1="{{ h }}" x2="{{ w }}" y2="{{ h }}" />
</svg>
