{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--install" id="modal-install">
    <div class="modal__content-wrapper--install">
        <p class="modal__content--install">
            <div class="modal__text--install active">
                <p>
                {% blocktrans trimmed %}
                    Las siguientes aplicaciones se han seleccionado para ser instaladas:
                {% endblocktrans %}
                <p>
                <ul></ul>
                {% blocktrans trimmed %}
                <p>
                    El proceso durará unos minutos durante los cuales el Panel
                    de Control quedará inactivo. Todas las personas que tengan
                    una sesión activa serán forzadas a salir y redireccionadas a
                    una página en la que se mostrará el estado de la operación.
                    Cuando la operación termine se activará el formulario para
                    volver a acceder.
                <p>
                    ¿Confirmas que quieres instalar las aplicaciones ahora?
                </p>
                {% endblocktrans %}
            </div>
            <div class="modal__text--install inactive">
                <p>
                {% trans 'No hay ninguna aplicación seleccionada' %}
                </p>
            </div>
            <div class="modal__actions--install">
                <button class="modal__cancel--install" data-dismiss="#modal-install">
                    {% trans 'Cancelar' %}
                </button>
                <button class="modal__submit--install active" data-release="{{ release }}" type="submit">
                    {% trans 'Actualizar' %}
                </button>
            </div>
        </p>
    </div>
</div>
