{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--services" id="modal-services">
    <div class="modal__content-wrapper--services">
        <p class="modal__content--services">
            <div class="modal__text--services active">
                {% blocktrans trimmed %}
                <p>
                    Las siguientes aplicaciones se han seleccionado para ser
                    modificadas:
                <p>
                {% endblocktrans %}
                <ul></ul>
                {% blocktrans trimmed %}
                <p>
                    No se borrarán los archivos de la aplicación,
                    ni los datos. Las aplicaciones desactivadas podrán reactivarse,
                    manteniendo la configuración actual.
                </p>
                <p>
                    El proceso durará unos minutos durante los cuales el Panel 
                    de Control quedará inactivo. Todas las personas que tengan 
                    una sesión activa serán forzadas a salir y redireccionadas 
                    a una página en la que se mostrará el estado de la operación.
                    Cuando la operación termine se activará el formulario para
                    volver a acceder.
                <p>
                    ¿Confirmas que quieres cambiar el estado de las aplicaciones ahora?
                </p>
                {% endblocktrans %}
            </div>
            <div class="modal__text--services inactive">
                <p>
                {% trans 'No hay ninguna aplicación seleccionada' %}
                </p>
            </div>
            <div class="modal__actions--services">
                <button class="modal__cancel--services" data-dismiss="#modal-services">
                    {% trans 'Cancelar' %}
                </button>
                <button class="modal__submit--services active" type="submit">
                    {% trans 'Actualizar' %}
                </button>
            </div>
        </p>
    </div>
</div>
