{# modal to reboot maadix #}
{% load i18n %}

<div class="modal--update" id="modal-update">
    <div class="modal__content-wrapper--update">
        <p class="modal__content--update">
            <div class="modal__text--update">
                {% blocktrans trimmed %}
                <p>
                    El proceso de actualización durará unos minutos durante los
                    cuales el Panel de Control quedará inactivo. Todos los usuarios
                    que tengan una sesión activa serán forzados a salir y
                    redireccionados a una página en la que se mostrará el estado de
                    la operación. Cuando el proceso de termine se activará el
                    formulario para volver a acceder.
                </p>
                <p>
                    ¿Confirmas que quiere actualizar a la nueva versión ahora?
                </p>
                {% endblocktrans %}
            </div>
            <div class="modal__actions--update">
                <button class="modal__cancel--update" data-dismiss="#modal-update">
                    {% trans 'Cancelar' %}
                </button>
                <form class="update-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="release" value="{{ release }}">
                    <button class="modal__submit--update" type="submit">
                        {% trans 'Actualizar' %}
                    </button>
                </form>
            </div>
        </p>
    </div>
</div>
