{# password recover email template #}
{% load i18n static %}

<html>
    <head>
        <title>
            {% trans 'Instrucciones para recuperar la contraseña' %}
        </title>
    </head>
    <body>
        <p>
        {% blocktrans trimmed %}
        Alguien ha solicitado la recuperación de la contraseña de administrador
        para el panel de control de {{ host }}</p>
        <p><b>Código de verificación:</b> {{ code }}</p>
        <p>Copia el código de verificación e insértalo en el campo correspondiente
        que encontrarás en el siguiente enlace:</p>
        {% endblocktrans %}
        <p>
            <a href="{{ host }}{% url 'password-reset' %}?token={{ token }}">
                {% trans 'Restablecer la contraseña' %}
            </a>
        </p>
    </body>
</html>
