{# Base template for the site #}
{% load static templatetags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Title and description #}
        <title>
            {% block page_html_title %}{% endblock %} | {{ html_document_title }}
        </title>
        <meta name="description" content="{{ html_document_description }}">

        {# Robots and humans #}
        <meta name="robots" content="robots.txt">
        <link href="humans.txt" rel="author">

        {# Favicons #}
        <link href="{% img 'favicon.ico' %}?v=1.0" rel="icon" type="image/png">

        {# Styles #}
        <link href="{% css 'style.css' %}" rel="stylesheet">

        {# Block for the extension of base head, to include css/js libraries #}
        {% block page_header %}{% endblock %}
    </head>

    <body class="{% if user.is_authenticated %}logged-in{% endif %} {% if user.is_staff %}staff-user{% endif %} {% block body_classes %}{% endblock %} {% block layout_classes %}{% endblock %}">
        {# Site messages #}
        {% include 'regions/messages.html' with region_name="messages" html_container="div" layout="fluid" %}

        {# Content layouts #}
        {% block layout %}{% endblock %}

        {# Page scripts #}
        <script type="text/javascript" src="{% js 'main.js' %}"></script>
        {% block page_scripts %}{% endblock %}
    </body>
</html>
