// View generic elements
  /templates/pages/*.html

=generic_list_item
  background: white
  position: relative
  padding: $m
  margin-bottom: $m/2
  +links($color_text, darken($palette_maadix, 10%), .1s ease)

  .field
    margin-top: $m/2
    &:first-child
      margin-top: 0

  .field__label
    text-transform: uppercase
    +h(5)
    margin-bottom: $m/4

  .field__label.inline
    min-width: $m*4
  [class*='__links--']
    font-family: $font_headers
    text-transform: uppercase
    margin-top: $m
    +breakpoint('sm')
      position: absolute
      margin: 0
      top: $m
      right: $m

  [class*='__link--']
    display: inline
    margin-left: $m/2
    font-size: .9em
    button
      +button_none
      text-transform: uppercase
